<%
function ellipsify (str, num) {
    if (str.length > num) {
       return (str.substring(0, num) + "...");
   }
   else {
       return str;
   }
} 
%>
<% if (blogs.length > 0) {
for (let i = blogs.length - 1; i >= 0; i--) { %>
    <div class="display">
        <a id="blog" href="/<%= blogs[i]._id %>">
            <h2 id="display_name"><%= blogs[i].Name %></h2>
            <h3 id="display_date"><%= blogs[i].Date %></h3>
            <h3 id="display_title"><%= blogs[i].Title %></h3>
            <h3 id="display_data"><%= ellipsify(blogs[i].Data, 300) %></h3>
        </a>
    </div>
<% }else { %>
    <h1>There are no blogs at the moment.</h1>
<%}} %>