<%- include('partials/header') %>
<body>
    <% console.log(blog) %>
    <%- include('partials/mainhead', {signin: login}) %>
    <div class="current_blog">
        <h1 id="current_blog_title"><%= blog.Title %></h1>
        <% if (login > 0) { 
            if(login == blog.blog_id) {%>
            <div class="deletebutton">
                <button onclick="window.location.href = '/edit?id=<%= blog._id%>'" id="editbutton">Edit</button>
                <button  id="delete">
                    <span onclick="window.location.href = '/delete/<%= blog._id %>'">CONFIRM DELETE</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                    </svg>
                </button>
            </div>
        <% }} %>       
        
        <div id="current_details">
            <h3 id="current_blog_Name">Posted By: <%= blog.Name %></h3>
            <h3 id="current_blog_date"><%= blog.Date %></h3>
        </div>
        <% let blogarr = blog.Data.split("\n")
    for (let i = 0; i < blogarr.length; i++) {
      if (blogarr[i] != "") {%>
        <h3 id="current_blog_data"><%= blogarr[i] %> <br></h3>
        <% }} %>
    </div>
</body>